{% extends 'admin/base.html.twig' %}

{% block body %}

    <div class="mt-5">
        <h1>Create new job</h1>

        {% include 'admin/job/_form.html.twig' %}

        <a href="{{ path('admin.job.list') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            back to list
        </a>
    </div>
{% endblock %}
