{% extends 'admin/base.html.twig' %}

{% block breadcrumbs %}
<!-- Start Breadcrumbbar -->
<div class="breadcrumbbar">
    <div class="row align-items-center">
        <div class="col-md-8 col-lg-8">
            <h4 class="page-title">CRM</h4>
            <div class="breadcrumb-list">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">CRM</li>
                </ol>
            </div>
        </div>
        <div class="col-md-4 col-lg-4">
            <div class="widgetbar">
                <a href="{{ path('admin.job.create') }}" class="btn btn-primary-rgba">
                    <i class="feather icon-plus mr-2"></i>Actions</a>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbbar -->
{% endblock %}

{% block body %}
    <div class="table-responsive">
        <table class="table table-borderless">
            <thead>
            <tr class="active">
                <th>Company</th>
                <th>Position</th>
                <th>Location</th>
                <th>Email</th>
                <th>URL</th>
                <th>Activated</th>
                <th>Actions</th>
            </tr>
            </thead>

            <tbody>
            {% for job in jobs %}
                <tr>
                    <td>{{ job.company }}</td>
                    <td>{{ job.position }}</td>
                    <td>{{ job.location }}</td>
                    <td>{{ job.email }}</td>
                    <td>{{ job.url }}</td>
                    <td>
                        {% if job.activated %}
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        {% endif %}
                    </td>
                    <td class="text-nowrap">
                        <ul class="list-inline">
                            <li>
                                <a href="{{ path('admin.job.edit', {id: job.id}) }}" class="btn btn-default">Edit</a>
                            </li>

                            <li>
                                <form method="post" action="{{ path('admin.job.delete', {id: job.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ job.id) }}">
                                    <button class="btn btn-danger">Delete</button>
                                </form>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="navigation text-center">
        {{ knp_pagination_render(jobs) }}
    </div>

{% endblock %}
