<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Control Panel:</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    {{ form_start(deleteForm, {'attr': {'class': 'navbar-form navbar-left'}}) }}
                    {{ form_widget(deleteForm) }}

                    <button type="submit" class="nav-link btn btn-danger btn-sm" onclick="return confirm('Are you sure?')">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        Delete
                    </button>
                    {{ form_end(deleteForm) }}
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                    {% if job.activated %}
                        {% if job.expiresAt < date() %}
                            <p class="navbar-text ">Expired</p>
                        {% else %}
                            <p class="navbar-text ">Expires in <strong>{{ job.expiresAt.diff(date())|date('%a') }}</strong> days</p>
                        {% endif %}

                        {% if job.expiresAt.diff(date())|date('%a') < 5 %}
                            <a class="" href="#">
                                Extend (for another 30 days)
                            </a>
                        {% endif %}
                    {% else %}
                        <a class="btn btn-default navbar-btn" href="{{ path('job.edit', { 'token': job.token }) }}">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            Edit
                        </a>

                        {{ form_start(publishForm, {'attr': {'class': 'navbar-form navbar-left'}}) }}
                        {{ form_widget(publishForm) }}

                        <button type="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            Publish
                        </button>
                        {{ form_end(deleteForm) }}
                    {% endif %}
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
            </ul>
            <span class="navbar-text">
        Navbar text with an inline element
      </span>
        </div>
    </div>
</nav>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="navbar-brand">Control Panel:</span>
        </div>

        <div class="alert-warning row rounded">
            <div class="col">

            </div>



            <p class="ml-2">
                [Bookmark this <a href="{{ url('job.preview', {token: job.token}) }}">URL</a> to manage this job in the future]
            </p>
        </div>
    </div>
</nav>
