{% extends 'base.html.twig' %}

{% block body %}

    <div class="input-group">
        <input type="text" aria-label="Search" placeholder="Search…" class="form-control"
               aria-describedby="searchButton">
        <input type="text" aria-label="Salary" placeholder="€1000, €2300…" class="form-control"
               aria-describedby="searchButton">
        <input type="text" aria-label="Work Type" placeholder="Work Type" class="form-control"
               aria-describedby="searchButton">
        <input type="text" aria-label="City" placeholder="Nantes" class="form-control" aria-describedby="searchButton">
        <button id="searchButton" type="button" class="input-group-text">Find Offers</button>
    </div>

    <div class="row mt-5">
        <div class="col-sm-3">
            <div class="mb-3">
                <form>
                    <div class="mb-3">
                        <p class="mb-0">Salary range</p>
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" value="" id="salary-1">
                            <label class="custom-control-label" for="salary-1">
                                $30 000 - $50 000
                            </label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" value="" id="salary-3">
                            <label class="custom-control-label" for="salary-3">
                                $10 000 - $20 000
                            </label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" value="" id="salary-2">
                            <label class="custom-control-label" for="salary-2">
                                $1 000 - $10 000
                            </label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" value="" id="salary-4">
                            <label class="custom-control-label" for="salary-4">
                                Free
                            </label>
                        </div>
                    </div>

                    <div>
                        <p class="mt-4 mb-0">Location</p>
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" value="" id="sidney">
                            <label class="custom-control-label" for="sidney">
                                Sidney
                            </label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" value="" id="nantes">
                            <label class="custom-control-label" for="nantes">
                                Nantes
                            </label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" value="" id="paris">
                            <label class="custom-control-label" for="paris">
                                Paris
                            </label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" value="" id="london">
                            <label class="custom-control-label" for="london">
                                London
                            </label>
                        </div>
                    </div>

                    <div>
                        <p class="mt-4 mb-0">Work Type</p>
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" value="" id="permanent">
                            <label class="custom-control-label" for="permanent">
                                Permanent
                            </label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" value="" id="fullTime">
                            <label class="custom-control-label" for="fullTime">
                                Full-time
                            </label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" value="" id="salary-4">
                            <label class="custom-control-label" for="salary-4">
                                Internship
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-9">Search results : {{ jobCount|length }}</div>
                <div class="col-sm-3"></div>
            </div>

            {% include 'job/_job_history.html.twig' with {'historyJobs': historyJobs} only %}

            {#
            {% for category in categories %}
                <h4>
                    <a href="{{ path('category.show', {slug: category.slug}) }}" class="default">
                        {{ category.name }}
                    </a>
                </h4>

                {% include 'job/table.html.twig' with {
                    'jobs': category.activeJobs|slice(0, max_jobs_on_homepage)
                } only %}
            {% endfor %}
            #}

            {% for job in jobs %}
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">{{ job.position }}</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="{{ path('job.show', {id: job.id}) }}" class="card-link">Details</a>
                    </div>
                </div>
            {% endfor %}

            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {{ knp_pagination_render(jobs) }}
                </ul>
            </nav>
        </div>

        <div class="col-sm-3">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Do you know a prospective candidate to recommend ?</h5>
                    <p class="card-text">
                        Refer him to us and receive a reword when he accepts an offer !
                    </p>
                    <a href="#" class="card-link">Suggest a friend</a>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Create a subscription for a candidate</h5>
                    <p class="card-text">
                        Just enter your email to get all new jobs according to your search filters
                    </p>
                    <a href="#" class="card-link">Create a job alert</a>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
