<table class="table text-left">
    <thead>
    <tr>
        <th class="active text-left">City</th>
        <th class="active text-left">Position</th>
        <th class="active text-left">Company</th>
    </tr>
    </thead>

    <tbody>
    {% for job in jobs %}
        <tr>
            <td>{{ job.location }}</td>
            <td>
                <a href="{{ path('job.show', {id: job.id}) }}">
                    {{ job.position }}
                </a>
            </td>
            <td>{{ job.company }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
