<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{% block title %}Miasahazy - Admin{% endblock %}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    {% block stylesheets %}{% endblock %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ encore_entry_link_tags('admin') }}

    {% block javascripts %}{% endblock %}

</head>
<body class="vertical-layout">
<!-- Start Infobar Setting Sidebar -->
<div id="infobar-settings-sidebar" class="infobar-settings-sidebar">
    <div class="infobar-settings-sidebar-head d-flex w-100 justify-content-between">
        <h4>Settings</h4><a href="javascript:void(0)" id="infobar-settings-close" class="infobar-settings-close">
            <img src="{{ asset('/images/svg-icon/close.svg') }}" class="img-fluid menu-hamburger-close" alt="close">
        </a>
    </div>
    <div class="infobar-settings-sidebar-body">
        <div class="custom-mode-setting">
            <div class="row align-items-center pb-3">
                <div class="col-8"><h6 class="mb-0">Payment Reminders</h6></div>
                <div class="col-4 text-right"><input type="checkbox" class="js-switch-setting-first" checked/></div>
            </div>
            <div class="row align-items-center pb-3">
                <div class="col-8"><h6 class="mb-0">Stock Updates</h6></div>
                <div class="col-4 text-right"><input type="checkbox" class="js-switch-setting-second" checked/></div>
            </div>
            <div class="row align-items-center pb-3">
                <div class="col-8"><h6 class="mb-0">Open for New Products</h6></div>
                <div class="col-4 text-right"><input type="checkbox" class="js-switch-setting-third"/></div>
            </div>
            <div class="row align-items-center pb-3">
                <div class="col-8"><h6 class="mb-0">Enable SMS</h6></div>
                <div class="col-4 text-right">
                    <input type="checkbox" class="js-switch-setting-fourth" checked/></div>
            </div>
            <div class="row align-items-center pb-3">
                <div class="col-8"><h6 class="mb-0">Newsletter Subscription</h6></div>
                <div class="col-4 text-right">
                    <input type="checkbox" class="js-switch-setting-fifth" checked/></div>
            </div>
            <div class="row align-items-center pb-3">
                <div class="col-8"><h6 class="mb-0">Show Map</h6></div>
                <div class="col-4 text-right">
                    <input type="checkbox" class="js-switch-setting-sixth"/></div>
            </div>
            <div class="row align-items-center pb-3">
                <div class="col-8">
                    <h6 class="mb-0">e-Statement</h6></div>
                <div class="col-4 text-right">
                    <input type="checkbox" class="js-switch-setting-seventh" checked/></div>
            </div>
            <div class="row align-items-center">
                <div class="col-8"><h6 class="mb-0">Monthly Report</h6></div>
                <div class="col-4 text-right">
                    <input type="checkbox" class="js-switch-setting-eightth" checked/></div>
            </div>
        </div>
    </div>
</div>
<div class="infobar-settings-sidebar-overlay"></div>
<!-- End Infobar Setting Sidebar -->

<!-- Start Containerbar -->
<div id="containerbar">
    <!-- Start Leftbar -->
    <div class="leftbar">
        <!-- Start Sidebar -->
        <div class="sidebar">
            <!-- Start Logobar -->
            <div class="logobar">
                <a href="{{ path('admin.job.list') }}" class="logo logo-large">
                    <img src="{{ asset('/images/logo.svg') }}" class="img-fluid" alt="logo">
                </a>
                <a href="{{ path('admin.job.list') }}" class="logo logo-small">
                    <img src="{{ asset('/images/small_logo.svg') }}" class="img-fluid" alt="logo">
                </a>
            </div>
            <!-- End Logobar -->
            <!-- Start Navigationbar -->
            <div class="navigationbar">
                {% set currentRouteName = app.request.get('_route') %}
                <ul class="vertical-menu">
                    <li>
                        <a href="">
                            <img src="{{ asset('/images/svg-icon/dashboard.svg') }}" class="img-fluid" alt="dashboard">
                            <span>Dashboard</span>
                            <!-- <i class="feather icon-chevron-right pull-right"></i> -->
                        </a>
                    </li>
                    <li {% if currentRouteName starts with 'admin.job.' %}class="active"{% endif %}>
                        <a href="{{ path('admin.job.list') }}">
                            <img src="{{ asset('/images/svg-icon/form_elements.svg') }}" class="img-fluid" alt="jobs">
                            <span>Jobs</span>
                        </a>
                    </li>
                    <li {% if currentRouteName starts with 'admin.category.' %}class="active"{% endif %}>
                        <a href="{{ path('admin.category.list') }}">
                            <img src="{{ asset('/images/svg-icon/basic.svg') }}" class="img-fluid" alt="categories">
                            <span>Categories</span>
                        </a>
                    </li>
                    <li {% if currentRouteName starts with 'admin.affilite.' %}class="active"{% endif %}>
                        <a href="{{ path('admin.affiliate.list') }}">
                            <img src="{{ asset('/images/svg-icon/widgets.svg') }}" class="img-fluid" alt="affiliates">
                            <span>Affiliates</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- End Navigationbar -->
        </div>
        <!-- End Sidebar -->
    </div>
    <!-- End Leftbar -->
    <!-- Start Rightbar -->
    <div class="rightbar">
        <!-- Start Topbar Mobile -->
        <div class="topbar-mobile">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="mobile-logobar">
                        <a href="index.html" class="mobile-logo">
                            <img src="{{ asset('/images/logo.svg') }}" class="img-fluid" alt="logo">
                        </a>
                    </div>
                    <div class="mobile-togglebar">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                                <div class="topbar-toggle-icon">
                                    <a class="topbar-toggle-hamburger" href="">
                                        <img src="{{ asset('/images/svg-icon/horizontal.svg') }}"
                                             class="img-fluid menu-hamburger-horizontal" alt="horizontal">
                                        <img src="{{ asset('/images/svg-icon/verticle.svg') }}"
                                             class="img-fluid menu-hamburger-vertical" alt="verticle">
                                    </a>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="menubar">
                                    <a class="menu-hamburger" href="">
                                        <img src="{{ asset('/images/svg-icon/collapse.svg') }}"
                                             class="img-fluid menu-hamburger-collapse" alt="collapse">
                                        <img src="{{ asset('/images/svg-icon/close.svg') }}"
                                             class="img-fluid menu-hamburger-close" alt="close">
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start Topbar -->
        <div class="topbar">
            <!-- Start row -->
            <div class="row align-items-center">
                <!-- Start col -->
                <div class="col-md-12 align-self-center">
                    <div class="togglebar">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                                <div class="menubar">
                                    <a class="menu-hamburger" href="">
                                        <img src="{{ asset('/images/svg-icon/collapse.svg') }}"
                                             class="img-fluid menu-hamburger-collapse" alt="collapse">
                                        <img src="{{ asset('/images/svg-icon/close.svg') }}"
                                             class="img-fluid menu-hamburger-close" alt="close">
                                    </a>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="searchbar">
                                    <form>
                                        <div class="input-group">
                                            <input type="search" class="form-control" placeholder="Search"
                                                   aria-label="Search" aria-describedby="button-addon2">
                                            <div class="input-group-append">
                                                <button class="btn" type="submit" id="button-addon2"><img
                                                        src="{{ asset('images/svg-icon/search.svg') }}"
                                                        class="img-fluid" alt="search"></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="infobar">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                                <div class="settingbar">
                                    <a href="" id="infobar-settings-open" class="infobar-icon">
                                        <img src="{{ asset('/images/svg-icon/settings.svg') }}" class="img-fluid"
                                             alt="settings">
                                    </a>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="notifybar">
                                    <div class="dropdown">
                                        <a class="dropdown-toggle infobar-icon" href="#" role="button"
                                           id="notoficationlink" data-toggle="dropdown" aria-haspopup="true"
                                           aria-expanded="false">
                                            <img src="{{ asset('images/svg-icon/notifications.svg') }}"
                                                 class="img-fluid" alt="notifications">
                                            <span class="live-icon"></span></a>
                                        <div class="dropdown-menu dropdown-menu-right"
                                             aria-labelledby="notoficationlink">
                                            <div class="notification-dropdown-title">
                                                <h4>Notifications</h4>
                                            </div>
                                            <ul class="list-unstyled">
                                                <li class="media dropdown-item">
                                                    <span class="action-icon badge badge-primary-inverse">
                                                        <i class="feather icon-dollar-sign"></i>
                                                    </span>
                                                    <div class="media-body">
                                                        <h5 class="action-title">$135 received</h5>
                                                        <p><span class="timing">Today, 10:45 AM</span></p>
                                                    </div>
                                                </li>
                                                <li class="media dropdown-item">
                                                    <span class="action-icon badge badge-success-inverse"><i
                                                            class="feather icon-file"></i></span>
                                                    <div class="media-body">
                                                        <h5 class="action-title">Project X prototype approved</h5>
                                                        <p><span class="timing">Yesterday, 01:40 PM</span></p>
                                                    </div>
                                                </li>
                                                <li class="media dropdown-item">
                                                    <span class="action-icon badge badge-danger-inverse"><i
                                                            class="feather icon-eye"></i></span>
                                                    <div class="media-body">
                                                        <h5 class="action-title">John requested to view wireframe</h5>
                                                        <p><span class="timing">3 Sep 2019, 05:22 PM</span></p>
                                                    </div>
                                                </li>
                                                <li class="media dropdown-item">
                                                    <span class="action-icon badge badge-warning-inverse"><i
                                                            class="feather icon-package"></i></span>
                                                    <div class="media-body">
                                                        <h5 class="action-title">Sports shoes are out of stock</h5>
                                                        <p><span class="timing">15 Sep 2019, 02:55 PM</span></p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="languagebar">
                                    <div class="dropdown">
                                        <a class="dropdown-toggle" href="#" role="button" id="languagelink"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="flag flag-icon-us flag-icon-squared"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="languagelink">
                                            <a class="dropdown-item" href="#"><i
                                                    class="flag flag-icon-us flag-icon-squared"></i>English</a>
                                            <a class="dropdown-item" href="#"><i
                                                    class="flag flag-icon-de flag-icon-squared"></i>German</a>
                                            <a class="dropdown-item" href="#"><i
                                                    class="flag flag-icon-bl flag-icon-squared"></i>France</a>
                                            <a class="dropdown-item" href="#"><i
                                                    class="flag flag-icon-ru flag-icon-squared"></i>Russian</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="profilebar">
                                    <div class="dropdown">
                                        <a class="dropdown-toggle" href="#" role="button" id="profilelink"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <img src="{{ asset('/images/users/profile.svg') }}" class="img-fluid"
                                                 alt="profile">
                                            <span class="feather icon-chevron-down live-icon"></span>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profilelink">
                                            <div class="dropdown-item">
                                                <div class="profilename">
                                                    <h5>John Doe</h5>
                                                </div>
                                            </div>
                                            <div class="userbox">
                                                <ul class="list-unstyled mb-0">
                                                    <li class="media dropdown-item">
                                                        <a href="#" class="profile-icon">
                                                            <img src="{{ asset('/images/svg-icon/user.svg') }}"
                                                                 class="img-fluid" alt="user">My Profile</a>
                                                    </li>
                                                    <li class="media dropdown-item">
                                                        <a href="#" class="profile-icon"><img
                                                                src="{{ asset('/images/svg-icon/email.svg') }}"
                                                                class="img-fluid" alt="email">Email</a>
                                                    </li>
                                                    <li class="media dropdown-item">
                                                        <a href="#" class="profile-icon"><img
                                                                src="{{ asset('/images/svg-icon/logout.svg') }}"
                                                                class="img-fluid" alt="logout">Logout</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End col -->
            </div>
            <!-- End row -->
        </div>
        <!-- End Topbar -->
        {% block breadcrumbs %}{% endblock %}
        <!-- Start Contentbar -->
        <div class="contentbar">
            {% block body %}{% endblock %}
        </div>
        <!-- End Rightbar -->
    </div>
    <!-- End Containerbar -->
    <!-- End js -->
    <script src="{{ asset('/js/jquery.min.js') }}"></script>
    <script src="{{ asset('/js/popper.min.js') }}"></script>
    <script src="{{ asset('/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('/js/detect.js') }}"></script>
    <script src="{{ asset('/js/modernizr.min.js') }}"></script>
    <script src="{{ asset('/js/jquery.slimscroll.js') }}"></script>
    <script src="{{ asset('/js/vertical-menu.js') }}"></script>
    <!-- Switchery js -->
    <script src="{{ asset('/plugins/switchery/switchery.min.js') }}"></script>
    <!-- Apex js -->
    <script src="{{ asset('plugins/apexcharts/apexcharts.min.js') }}"></script>
    <script src="{{ asset('/plugins/apexcharts/irregular-data-series.js') }}"></script>
    <!-- Slick js -->
    <script src="{{ asset('/plugins/slick/slick.min.js') }}"></script>

    <!-- Core js -->
    <script src="{{ asset('/js/core.js') }}"></script>
    {{ encore_entry_script_tags('admin') }}
    <!-- End js -->
</body>
</html>
