<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{{ 'Misahazy - Your best job board'|trans }}{% endblock %}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}{% endblock %}

</head>
<body>
<div class="col-lg-8 mx-auto">

    <header class="d-flex align-items-center py-4">

        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <h4 class="fs-4">{{ 'Misahazy'|trans }}</h4>
        </a>

        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('admin.job.list') }}" class="default navbar-btn ml-3">
                <small class="text-muted">{{ 'Admin Panel'|trans }}</small>
            </a>
        {% endif %}

        <div class="ml-auto">
            <a href="{{ path('job.create') }}" class="btn btn-light btn-sm navbar-btn">{{ 'Post a Job'|trans }}</a>
            <a href="{{ path('affiliate.create') }}"
               class="btn btn-light btn-sm navbar-btn">{{ 'Affiliates'|trans }}</a>

            {% if app.user %}
                <a href="{{ path('logout.index') }}"
                   class="btn btn-outline-dark btn-sm navbar-btn">{{ 'Logout'|trans }}</a>
            {% endif %}

            <a href="#" class="dropdown-toggle btn btn-light btn-sm" data-toggle="dropdown" role="button"
               aria-haspopup="true" aria-expanded="false">{{ app.request.locale|upper }}<span class="caret"></span></a>
            <div class="dropdown-menu py-1 px-2">
                {% for locale in locales %}
                    <div>
                        <a href="{{ path(app.request.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': locale})) }}">
                            {{ locale|upper }}
                        </a>
                    </div>
                {% endfor %}
            </div>

        </div>
    </header>

    <div>
        {% block body %}{% endblock %}
    </div>

    <footer class="pt-5 my-5 text-muted border-top">
        Created by the Bootstrap team &middot; &copy; 2021
    </footer>
</div>

{{ encore_entry_script_tags('app') }}
{% block javascripts %}{% endblock %}

</body>

</html>
